label{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}
.form_input{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    width: 30%;
}

